    <div *ngIf="msg" style="color: red;">{{msg}}</div>
    <br>
    <div>
        <img *ngIf="image_url" [src]="image_url" width="128" height="128">
    </div>
    <br>
    <div>
        <label for="img">Image</label>
        <input id="img" type="file" (change)="onChangeImg($event)"/>
    </div>
    <br>
    Resolutions (width)
    <div *ngFor="let resol of resolutions">
        {{resol.width}}p
        <input type="checkbox" (change)="onToggleResolution(resol)" [checked]="resol.is_target" [disabled]="success"/>
    </div>
    <br>
    <div style="display: flex;">
        <button *ngIf="!success" (click)="make_thumbnails()">
            Make thumbnails
        </button>
        <div *ngIf="success">
            <span style="color: #126606;background: #b2f0a9;padding: 2px 6px;margin-right: 5px;">
                Done successfully!
            </span>
            <button *ngIf="thumbnails_data.length == 0" (click)="show_thumbnails()">
                Show thumbnails
            </button>
            <button (click)="reset()">
                Process new image
            </button>
        </div>
    </div>
    <br>
    <div *ngIf="thumbnails_data">
        <div *ngFor="let thumb of thumbnails_data">
            {{thumb[1]}} <img [src]="thumb[0]">
        </div>
    </div>